.cont
{
	height: auto;
	background: black;
	color: white;
	text-align: center;
	padding: 150px;
}

.contact
{
	background: black;
	width: 250px;
	height:20%;
	margin-top: -20px;
	margin-left: 450px;
}

.main-Heading
{
	background: brown;
	color: white;
	width: 550px;
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 40px;
}

.contact-Heading
{
	background: brown;
	color: white;
	width: 250px;
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 20px;
}

.phone
{
	background: white;
	color: black;
	width: 250px;
	height:15%;
	float:left;
	margin-top: 100px;
	margin-left: -80px;
}

.email
{
	background: white;
	color: black;
	width: 250px;
	height:15%;
	margin-top: 150px;
	margin-left: 230px;
}

.twitter
{
	background: white;
	color: black;
	width: 250px;
	height:15%;
	margin-top: -80px;
	margin-left: 550px;
}

.address
{
	background: white;
	color: black;
	width: 250px;
	height:15%;
	margin-top: -80px;
	margin-left: 850px;
}


.content
{
	padding:10px;
	font-size: 20px;
}

